.navbar {
  margin: 1vw;
  /* background-color: #d5c6ee; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 2px;
}

.link {
  width: max-content;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 4px;
  background-color: #252525;
  box-shadow: 1px 1px 1px 2px rgb(31, 30, 30);
  color: whitesmoke;
  cursor: pointer;
}

.out-burger {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.selected {
  border-bottom: 2px solid rgb(141, 141, 235);
}
